/*
=============== 
Variables
===============
*/

.btn {
  text-transform: uppercase;
  background: transparent;
  color: rgb(206, 206, 206);
  letter-spacing: 0.1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  text-align: center;
  border-radius: 50%;
  margin-top: 2rem;
}
.btn:hover {
  color: rgb(76, 60, 67);
  background: rgb(246, 245, 250);
}
.active {
  color: rgb(76, 60, 67);
  background: rgb(246, 245, 250);
}
.btn-container {
  flex-direction: column;
  display: flex;
  padding: 2.5rem 0;
}
.btn-container-bottom {
  flex-direction: column;
}
.sidebar {
  display: flex;
  width: 4.5rem;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  margin-left: 2rem;
  padding: 1.3rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.avatar-holder {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  text-align: center;
  /* padding: 0.6rem 0.75rem; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: hsl(360, 67%, 44%);
  color: white;
  overflow: hidden;
}

.img {
  object-fit: contain;
  width: 45px;
  border-radius: 50%;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(1, 216, 1);
  position: relative;
  top: 0.6rem;
  left: 1.1rem;
  border: 2px solid white;
}
